
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

/* * {
    border: 2px solid red;
} */

:root {

    /* # Primary colors */
    --clr-lightred: hsl(0, 100%, 67%);
    --clr-lightred-dim: hsla(0, 100%, 67%, 5%);

    --clr-orangeyellow: hsl(39, 100%, 56%);
    --clr-orangeyellow-dim: hsla(39, 100%, 56%,5%);

    --clr-greenteal: hsl(166, 100%, 37%);
    --clr-greenteal-dim: hsla(166, 100%, 37%, 5%);

    --clr-cobaltblue: hsl(234, 85%, 45%);
    --clr-cobaltblue-dim: hsl(234, 85%, 45%, 5%);


    /* # Gradients */
    /* ## Background */
    --clr-lightslateblue: hsl(252, 100%, 67%);
    --clr-lightroyalblue: hsl(241, 81%, 54%);

    /* ## Circle */
    --clr-violetblue: hsla(256, 72%, 46%, 1);
    --clr-persianblue: hsla(241, 72%, 46%, 0);

    /* # Neutral colors */
    --clr-white: hsl(0, 0%, 100%);
    --clr-paleblue: hsl(221, 100%, 96%);
    --clr-lightlavender: hsl(241, 100%, 89%);
    --clr-darkgrayblue: hsl(224, 30%, 27%);

    /*¨### Notes
    Use transparency to get the colour variations necessary to match the design. 
    Hint: look into using `hsla()`. 
    */

    /* Shadow color */
    --clr-shadow: hsla(214, 53%, 66%, 0.767);

}

html {
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
}


body {
    width: 100vw;
    height: 100vh;

    display:flex;
    justify-content: center;
    align-items: center;

}



.container {
    display: flex;
    flex-direction: row;
    
    border-radius: 1rem;
    box-shadow: 1rem 1rem 3rem -2rem var(--clr-shadow);

}


/* # Result page  */

.result {
    
    width:17rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: center;
    color: var(--clr-white);
    
    border-radius: 1rem;

    background :linear-gradient(
     var(--clr-lightslateblue),
     var(--clr-lightroyalblue));
}

.result-title {

    font-size: 1rem;
    font-weight: 700;
    color: var(--clr-lightlavender);

    margin-block: 1.5rem;
}

.result-circle {

    padding: 2rem 2.7rem; 
    /*TODO need better solution for making circle round */

    border-radius: 50%;

    background :linear-gradient(
        var(--clr-violetblue), 
            var(--clr-persianblue));
}

.result-number-main {

    font-size: 3rem;
    font-weight: 800;

}

.result-number-static {
    font-size: .75rem;
    font-weight: 800;
    color: var(--clr-lightslateblue);

}

.result-description-title {
    
    font-size: 1.25rem;
    font-weight: 700;
    

    margin-top: 1rem;
}

.result-description {
    
    font-size: .75rem;
    color: var(--clr-lightlavender);

    margin: 1rem 3rem 2rem 3rem;
}


/* # Summary page  */

.summary {

    width: 17rem;
    position: relative;

    display: block;
    flex-direction: column;

    border-radius: 0rem 1rem 1rem 0rem;

    /* box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75); */

    /* margin: 0rem -1rem; */
}


.summary-title {

    margin: 1.5rem 2rem 1rem 2rem;

    font-weight: 700;

    color: var(--clr-darkgrayblue);
}

/* .summary-data-wrapper {
    margin: 0rem 2rem;
} */

.summary-row {

    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;

    border-radius: .5rem;
    padding: .7rem 1rem;
    margin: .8rem 2rem;

    font-size: 0.8rem;
    font-weight: 700;
}

.summary-row > img {
        width: 0.75rem;
        height: 0.75rem;
        padding-right: .3rem;
}

/* .summary-row > * {
    border: 3px solid red;
} */

.summary-data {
    padding-inline: .3rem;
    color: var(--clr-darkgrayblue);
}

.summary-number-static {
    color: #00000055;
}

/* ## Reaction */

.summary-reaction {
    background-color: var(--clr-lightred-dim);
}

.summary-subtitle-reaction {
    color: var(--clr-lightred);
    /* flex-basis: 60%; */
    flex-grow: 1;
}

/* ## Memory  */
.summary-memory {
    background-color: var(--clr-orangeyellow-dim)
}

.summary-subtitle-memory {
    color: var(--clr-orangeyellow);
    /* flex-basis: 60%; */
    flex-grow: 1;
    
}


/* ## Verbal  */

.summary-verbal {
    background-color: var(--clr-greenteal-dim);
}

.summary-subtitle-verbal {
    color: var(--clr-greenteal);
    /* flex-basis: 60%; */
    flex-grow: 1;
    
}

/* ## Visual  */

.summary-visual {
    background-color: var(--clr-cobaltblue-dim);
}

.summary-subtitle-visual {
    color: var(--clr-lightroyalblue);
    /* flex-basis: 60%; */
    flex-grow: 1;
    
}


.summary-button-continue {

    background-color: var(--clr-darkgrayblue);

    color: var(--clr-white);

    margin: 2rem 2rem;
    padding: .7rem;

    border-radius: 2rem;

    font-size: .75rem;
    text-align: center;

}

@media screen and (max-width: 600px) {

    html {
        border: 2px solid blue;
    }

    body {
        margin: 0;
    }

    .container {
        min-width: 100vw;
        flex-direction: column;
        justify-content: center;

        box-shadow: none;

        border: 2px solid red;

    }

    .result {
        width: 100vw;
        border-radius: 0rem 0rem 1rem 1rem;
    }

    .summary {
        width: 100vw;
        border-radius: 0px;
        box-shadow: none;
    }

}