
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    border: 2px solid red;
}

:root {

    /* # Primary colors */
    --clr-lightred: hsl(0, 100%, 67%);
    --clr-orangeyellow: hsl(39, 100%, 56%);
    --clr-greenteal: hsl(166, 100%, 37%);
    --clr-cobaltblue: hsl(234, 85%, 45%);

    /* # Gradients */
    /* ## Background */
    --clr-lightslateblue: hsl(252, 100%, 67%);
    --clr-lightroyalblue: hsl(241, 81%, 54%);

    /* ## Circle */
    --clr-violetblue: hsla(256, 72%, 46%, 1);
    --clr-persianblue: hsla(241, 72%, 46%, 0);

    /* # Neutral colors */
    --clr-white: hsl(0, 0%, 100%);
    --clr_paleblue: hsl(221, 100%, 96%);
    --clr-lightlavender: hsl(241, 100%, 89%);
    --clr-darkgrayblue: hsl(224, 30%, 27%);

    /*¨### Notes
    Use transparency to get the colour variations necessary to match the design. 
    Hint: look into using `hsla()`. 
    */

}

html {
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
}

.result {

    width:50%;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.summary {

    width:50%;

    display: flex;
    flex-direction: column;
}

.summary-data {

    display:flex;
    flex-direction: row;
}